<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <style>
        .stars{
            width:200px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a href="/books">Home</a> | {{user.alias}} <a href="/logout">Logout</a>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>{{book.title}}</h5>
                <p>Author: {{book.author.name}}</p>
                <br>
                <h5>Reviews:</h5>
                <hr>
                {% for review in reviews %}
                <h5>Rating: {{review.rating}} Stars</h5>
                <a href="/users/{{review.poster.id}}">{{review.poster.alias}}</a> says: <span class="font-italic">{{review.review}}</span>
                <br>
                <p><span class="font-italic">Posted on {{review.created_at}}</span></p>
                    {% if request.session.user == review.poster.id %}
                    <form action="/delete" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="review" value="{{review.id}}">
                        <input type="hidden" name="location" value="{{book.id}}">
                        <input type="submit" class="btn-danger" value="Delete">                    
                    </form>
                    {% endif %}
                <hr>
                {% endfor %}
            </div>
            <div class="col">
                <p>Add a Review:</p>
                <form action="/review" method="POST">
                    {% csrf_token %}
                    <textarea name="review"cols="30" rows="10"></textarea>
                    <p>Rating: <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                    </select>stars</p></p>
                    <input type="hidden" name="source" value="{{book.id}}">
                    <input type="submit" value="Submit Review">
                </form>
            </div>
        </div>
    </div>
</body>
</html>